body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  padding: 20px;
}

.left {
  flex: 3;
}

.right {
  flex: 1;
  background: #111827;
  padding: 20px;
  border-radius: 12px;
  margin-left: 20px;
  height: fit-content;
}

.grid {
  display: grid;
  grid-template-columns: repeat(30, 20px);
  gap: 4px;
  margin-top: 20px;
}

.tile {
  width: 20px;
  height: 20px;
  background: #1f2937;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.tile:hover {
  transform: scale(1.1);
}

.playerRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.colorBox {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.resetBtn {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
  background: #ef4444;
  color: white;
  cursor: pointer;
}

.resetBtn:disabled {
  background: gray;
  cursor: not-allowed;
}

.winner {
  background: #16a34a;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0;
}

.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
